<?xml version="1.0" encoding="utf-8"?>

<!--
  Para obtener más información sobre cómo configurar la aplicación ASP.NET, visite
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="aspnetdbConnectionString" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=aspnetdb;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="ProyectoMandiolaConnectionString" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=ProyectoMandiola;Integrated Security=True; Column Encryption Setting = Enabled"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
  </appSettings>
  <system.web>
    <siteMap defaultProvider="web">
      <providers>
        <add name="backend" type="System.Web.XmlSiteMapProvider" siteMapFile="Content/Backend/backend.sitemap" />
        <add name="web" type="System.Web.XmlSiteMapProvider" siteMapFile="Web.sitemap" />
      </providers>
    </siteMap>
    <membership defaultProvider="auth">
      <providers>
        <add connectionStringName="aspnetdbConnectionString" applicationName="H-Mandiola-Backend" minRequiredPasswordLength="8" minRequiredNonalphanumericCharacters="0" name="auth" type="System.Web.Security.SqlMembershipProvider" requiresQuestionAndAnswer="false" />
      </providers>
    </membership>
    <!--Proveedor para el manejo de roles-->
    <roleManager enabled="true" defaultProvider="rol">
      <providers>
        <add connectionStringName="aspnetdbConnectionString" applicationName="H-Mandiola-Backend"
          name="rol" type="System.Web.Security.SqlRoleProvider" />
      </providers>
    </roleManager>
    <authentication mode="Forms">
      <forms name="H-Mandiola-Backend" loginUrl="login.aspx" defaultUrl="WebForm1.aspx" timeout="60" protection="All" path="/" />
    </authentication>
    <authorization>
      <deny users="?"/>
      <allow users="*"/>
    </authorization>
    <compilation debug="true" targetFramework="4.7.2"/>
    <httpRuntime targetFramework="4.7.2"/>
  </system.web>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701"/>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
    </compilers>
  </system.codedom>

</configuration>
